* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


/* ==================================================
                    Crypto Coin Table
================================================== */

.box {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  border-bottom: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head {
  font-weight: bold;
}

.coin-id {
  flex: 1 0 30px;
  width: 30px;
  position: sticky;
  left: 0;
  background-color: white;
  padding: 10px 0;
  font-weight: bold;
}

.coin-main {
  flex: 1 0 180px;
  width: 180px;
  display: flex;
  position: sticky;
  left: 30px;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.coin-main img {
  width: 30px;
  height: 30px;
}

.coin-name {
  width: 150px;
  overflow-wrap: break-word;
  text-transform: uppercase;
}

.coin-symbol {
  flex: 1 0 60px;
  width: 60px;
  overflow-wrap: break-word;
  padding: 10px 0;
}

.coin-price {
  flex: 1 0 140px;
  width: 140px;
  overflow-wrap: break-word;
  padding: 10px 0;
}

.coin-marketcap {
  flex: 1 0 180px;
  width: 180px;
  overflow-wrap: break-word;
  padding: 10px 0;
}

.coin-volume {
  flex: 1 0 180px;
  width: 180px;
  overflow-wrap: break-word;
  padding: 10px 0;
}

.coin-circulation {
  flex: 1 0 180px;
  width: 180px;
  overflow-wrap: break-word;
  padding: 10px 0;
}

.coin-24h {
  flex: 1 0 120px;
  overflow-wrap: break-word;
  width: 120px;
  padding: 10px 0;
  font-weight: bold;
}

.red {
  color: red;
}

.green {
  color: green;
}


/* ==================================================
                    Pagination
================================================== */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.page-link {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 1px solid #000;
  cursor: pointer;
  color: #000;
  border-radius: 50%;
  font-weight: bold;
}

.page-link:hover {
  background-color: #000;
  color: #fff;
}

.active {
  background-color: #000;
  color: #fff;
}

.prev-btn,
.next-btn {
  margin-right: 5px;
  border: 1px solid #000;
  cursor: pointer;
  color: #000;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
}

.prev-btn:hover:enabled,
.next-btn:hover:enabled {
  background-color: #000;
  color: #fff;
}

button:disabled {
  border: 1ps solid #666666;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}